@font-face {
    font-family: Belwe;
    src: url("font/odend.ttf");
}

body{
    text-align: center;
    background: #fd9;
    font-family: Belwe, Georgia, 'Times New Roman', Times, serif;
}

img{
    width: 100%;
    transition: transform 0.3s;
}

img:hover{
    transform: perspective(500px) rotateX(2.27deg) rotateY(5.54deg) scale3d(1.035,1.035,1.035);
}

.logo{
    text-align: center;
    margin: auto;
}

.card-header{
    background: rgba(255, 221, 153, 0.8) !important;
}

h4{
    
    display: inline-block;
    vertical-align: middle;
    line-height: normal;      
}

.titleContainer{
    height: 70px;
    line-height: 60px;
    text-align: center;
    border: 2px double #0a0a0a;
    overflow: auto; 
    white-space: pre-wrap;
    
}

.titleContainer h4 {
    margin: 0;
    font-size: 100%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item {
    width: fit-content;
    background-color: #8ca0ff;
    /*#padding: 25px;
    margin-bottom: 5em;*/
}

input {
    line-height: 1.5em;
    border-radius: 2em;
}